html {
	overflow-x: hidden;
	font-family: helvetica, sans-serif;

}


body {
    background-color: #B41608;
  }

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 3%;

}

.container > div{
	flex-grow: 1;
}

#pr{
	text-align: right;
	margin-right: 18%;
}

h1{
	font-weight: bold;
	color: #FFEADA;
	font-size: 7em;
	text-align: center;

}
p{
	font-size: 1em;
}


#title{
	border-top: 0.25em solid black;
	border-bottom: 0.25em solid black;
}

#celebrate{
	margin-top: 1%;
	font-weight: bold;
	border-top: 0.25em solid black;

	
}

#nt{
	font-size: 2em;
	margin-left: 28%;
	margin-top: 4%
}

#when{
	margin-left: 7%;
}

.flex-container{
	display: flex;
	margin: 3%;
	flex-wrap: wrap;

}

#one{
	
	flex-grow: 2;
	flex-basis: 0;
	border-bottom: 0.25em solid black;

}

#two{
	flex-grow: 4;
	border-bottom: 0.25em solid black;
	flex-basis: 0;
	font-weight: bold;
	
}

#name{
	font-size: 2em;
	padding-top: 5%;
	margin-left: 25%
}


#three{
	flex-grow: 2;
	flex-basis: 0;
	border-bottom: 0.25em solid black;
}

#four{
	flex: 2;
	flex-basis: 0;
	border-bottom: 0.25em solid black;
}



@media (max-width: 580px){
	#one{
		flex-basis:100%;
		border-bottom: 0;

	}

		#two{
		flex-basis:100%;
		border-bottom:0;
	}
		#three{
		flex-basis:100%;
		border-bottom: 0;
	}
		#four{
		flex-basis:100%;
	}

	#pr{
		text-align: left;
	}

	#when{
		margin-left: 0;

	}

	h1{
		font-size: 4em;
	}

}
